header{
    background-color: #2C3E50;
}



.ms_bg_green{
    background-color: #1ABC9C;
}


.ms_contact{
    height: 500px;
}

.ms_bg_lght_grey{
    background-color: #496888;
}

.ms_bg_dark_grey{
    background-color: #2C3E50;
}

div.img-box{
    width: 50%;
}


.ms_star-bar{
    margin: 20px auto;
    max-width: 300px;
    min-width: 100%;
    color: white;
}

.ms_star-bar::after,
.ms_star-bar::before{
    content:  '';
    display: inline-block;
    width: 15%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    vertical-align: middle;
}

.ms_star-dark{
    margin: 20px auto;
    max-width: 300px;
    min-width: 100%;
    color: black;
}

.ms_star-dark::after,
.ms_star-dark::before{
    content:  '';
    display: inline-block;
    width: 15%;
    height: 2px;
    border-radius: 2px;
    background-color: black;
    vertical-align: middle;
}







@media screen and (min-width: 768px){
    div.img-box{
        width: 20%;
    }

    div.container{
        max-width: 768px;
    }

    button.btn{
        max-width: 20%;
    }

}