header div{
    height: 70px;
    width: 100%;
    background-color: #2C3E50;
    color: white;
}

.ms_bg_green{
    background-color: #1ABC9C;
}


.ms_contact{
    height: 500px;
}

.ms_bg_lght_grey{
    background-color: #496888;
}

.ms_bg_dark_grey{
    background-color: #2C3E50;
}